* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.navbar {
  background: #000;
  height: 80px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 1.3rem;
  z-index: 999;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
#navbar-logo {
  background-color: #6a9113;
  background-image: linear-gradient(to top, #6a9113 0%, #cacebf 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar-menu-items {
  height: 40px;
}
.navbar-links {
  color: #6a9113;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 125px;
  height: 100%;
  transition: all 1s ease;
}
.navbar-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #141517;
  background: -webkit-linear-gradient(to right, #6a9113, #d5eba7, #151d03);
  background: linear-gradient(to right, #6a9113, #d5eba7, #151d03);
  color: #141517;
  transition: all 1s ease; /*wiigradient for better gadient color*/
}
.navbar-links:hover {
  color: #d8f1a3;
  transition: all 1s ease;
}

@media screen and (max-width: 900px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 1s ease;
    z-index: -1;
  }
  .navbar-menu.active {
    background: #000;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.5rem;
  }

  #navbar-logo {
    padding: 20px;
  }
  .navbar-toggle .bar {
    width: 25px;
    height: 5px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(to top, #6a9113 0%, #cacebf 100%);
    display: block;
    cursor: pointer;
  }
  .navbar-menu-items {
    width: 100%;
  }
  .navbar-links {
    text-align: center;
    width: 100%;
    display: table;
    padding: 2rem;
  }
  .navbar-menu-btn {
    padding: 2rem;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
    margin: 0;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
/*-- CONTAINER---*/

.container {
  min-height: 125vh;
  color: white;
  z-index: 2;
  margin-bottom: -170px;
  background: #000000;
  background: linear-gradient(to right, #1d1d1d, #000000);
}
.contentContainer {
  background: url("images/Banner.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 60vh;
  padding: 0 50px;
}

.featuresTitle {
  width: 200px;
  padding: 50px 0;
}
.featuresDescrition {
  width: 50%;
  color: whitesmoke;
  font-size: 15px;
}
.featuresBtn {
  width: 150px;
  padding: 10px;
  border: none;
  outline: none;
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background: #141517;
  background: -webkit-linear-gradient(to right, #6a9113, #d5eba7, #151d03);
  background: linear-gradient(to right, #6a9113, #d5eba7, #151d03);
}

.choice {
  background: #000000;
  background: linear-gradient(to right, #1d1d1d, #000000);
  padding: 30px 0 30px;
  position: relative;
}
.choisecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 20px;
}
.choice-heading {
  font-size: 60px;
  margin-bottom: 10px;
}
.choice-heading span {
  background-color: #6a9113;
  background-image: linear-gradient(to top, #6a9113 0%, #cacebf 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.choice-description {
  font-size: 40px;
  background-color: #acf313;
  background-image: linear-gradient(to top, #a6ec0f 0%, #435808 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 10px;
}
.explore-btn {
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background: #141517;
  background: -webkit-linear-gradient(to right, #6a9113, #d5eba7, #151d03);
  background: linear-gradient(to right, #6a9113, #d5eba7, #151d03);
}
.explore-btn a {
  color: #141517;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .featuresDescrition {
    width: 70%;
  }
  .choice-heading {
    font-size: 50px;
  }
  .choice-description {
    font-size: 35px;
  }
}
@media screen and (max-width: 810px) {
  .contentContainer {
    height: 55vh;
  }
  .featuresDescrition {
    width: 70%;
  }
}
@media screen and (max-width: 475px) {
  .featuresTitle {
    width: 150px;
  }
  .contentContainer {
    height: 50vh;
  }
  .featuresDescrition {
    width: 100%;
  }
  .choice-heading {
    font-size: 38px;
  }
  .choice-description {
    font-size: 20px;
  }
  .choice {
    z-index: 3;
  }
}

/*---ABOUT---*/

.vegetable {
  width: 100%;
  background: rgb(190, 186, 176);
  color: black;
  margin: 30px 0;
  padding: 3rem;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  transform: skewY(-5deg);
  z-index: -4;
}
.vegetable:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: rgb(190, 186, 176);
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}
.vegetable:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #000000;
  position: absolute;
  top: -80px;
  right: 0;
  border-radius: 45px;
  z-index: -1;
}
.main-container {
  transform: skewY(5deg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 90%;
  width: 100%;
  padding-top: 20px;
}
.main-container img {
  width: 500px;
  height: 420px;
}
.main-content {
  width: 100%;
}
.main-content h1 {
  font-size: 2rem;
  background-color: #577516;
  background-image: linear-gradient(to top, #29301a 0%, #c7e674 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 10px;
}
.main-content h2 {
  font-size: 3rem;
  background-color: #737966;
  background-image: linear-gradient(to top, #243109 0%, #2f3d08 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 10px;
}
.main-content p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #435808;
  margin-bottom: 20px;
}
.Schedule-btn {
  width: 200px;
  padding: 10px;
  border: none;
  outline: none;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background: #141517;
  background: -webkit-linear-gradient(to right, #6a9113, #d5eba7, #151d03);
  background: linear-gradient(to right, #6a9113, #d5eba7, #151d03);
}
.Schedule-btn a {
  color: #141517;
  text-decoration: none;
}
@media screen and (max-width: 1070px) {
  .main-container img {
    width: 500px;
    height: 380px;
  }
  .main-content {
    width: 100%;
  }
  .main-content h1 {
    font-size: 1.8rem;
  }
  .main-content h2 {
    font-size: 2.7rem;
  }
  .main-content p {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 972px) {
  .main-container img {
    width: 400px;
    height: 350px;
  }
  .main-content {
    width: 100%;
  }
  .main-content h1 {
    font-size: 1.5rem;
  }
  .main-content h2 {
    font-size: 2.5rem;
  }
  .main-content p {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 850px) {
  .main-container {
    grid-template-columns: 1fr;
  }
  .main-container img {
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
  .main-content h1 {
    font-size: 2rem;
  }
  .main-content h2 {
    font-size: 3rem;
  }
  .main-content p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
  }
  .main-container img {
    width: 100%;
    height: 100%;
  }
  .main-content {
    width: 100%;
  }
  .main-content h1 {
    font-size: 1.5rem;
  }
  .main-content h2 {
    font-size: 2rem;
  }
  .main-content p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

/*---SERVICES---*/
.Specialities {
  background: black;
  margin-top: -170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Service {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Service h1 {
  font-size: 3rem;
  background-color: #577516;
  background-image: linear-gradient(to top, #29301a 0%, #c7e674 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 20px 10px;
}
.Services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  overflow: hidden;
}
.Services-card {
  margin: 10px 10px 30px;
  height: 425px;
  width: 300px;
  border: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.Services-card:hover Img {
  transform: scale(1.2);
  margin: 0 10px;
  opacity: 0.5;
}
.Services-card:hover h2,
.Services-card:hover .Purchase-btn,
.Services-card:hover p {
  opacity: 1;
}
.Services-card img {
  width: 300px;
  height: 425px;
  object-fit: cover;
  transition: all 0.5s ease-out;
}
.Services-card h2 {
  color: #d5eba7;
  padding: 0 10px;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 5px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.Services-card p {
  padding: 10px;
  font-size: 18px;
  position: absolute;
  top: 45%;
  left: 10px;
  opacity: 0;
  transition: all 1s ease-in-out;
  color: lightgrey;
}
.Purchase-btn {
  width: 300px;
  padding: 10px;
  border: none;
  outline: none;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background: #141517;
  background: -webkit-linear-gradient(to right, #6a9113, #d5eba7, #151d03);
  background: linear-gradient(to right, #6a9113, #d5eba7, #151d03);
  position: absolute;
  bottom: 10%;
  opacity: 0;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.Purchase-btn a {
  color: #141517;
  text-decoration: none;
}
@media screen and (max-width: 1125px) {
  .Services-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 655px) {
  .Services-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .Services-card {
    width: 400px;
  }
  .Services-card img {
    width: 400px;
  }
}
@media screen and (max-width: 490px) {
  .Services-card {
    width: 300px;
  }
  .Services-card img {
    width: 300px;
  }
}
/*---FEATURES---*/

.feature {
  width: 100%;
  background: black;
  color: white;
  padding: 3rem;
}
.feature h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #577516;
  background-image: linear-gradient(to top, #29301a 0%, #c7e674 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 20px 10px;
}
.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 90%;
  width: 100%;
  padding-top: 20px;
}
.feature-content {
  width: 100%;
}
.feature-content h2 {
  font-size: 2rem;
  background-color: #577516;
  background-image: linear-gradient(to top, #29301a 0%, #c7e674 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 10px;
}
.feature-content h3 {
  font-size: 3rem;
  background-color: #737966;
  background-image: linear-gradient(to top, #243109 0%, #2f3d08 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 10px;
}
.feature-content p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #435808;
  margin-bottom: 20px;
}
.Sign-up-btn {
  width: 200px;
  padding: 10px;
  border: none;
  outline: none;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background: #141517;
  background: -webkit-linear-gradient(to right, #6a9113, #d5eba7, #151d03);
  background: linear-gradient(to right, #6a9113, #d5eba7, #151d03);
}
.Sign-up-btn a {
  color: #141517;
  text-decoration: none;
}
.feature-icon-container {
  color: #435808;
  font-size: 400px;
}

@media screen and (max-width: 1070px) {
  .feature-icon-container {
    font-size: 300px;
  }

  .feature-content h2 {
    font-size: 1.8rem;
  }
  .feature-content h3 {
    font-size: 2.7rem;
  }
  .feature-content p {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .feature-icon-container {
    font-size: 300px;
  }
}
@media screen and (max-width: 892px) {
  .feature-icon-container {
    font-size: 250px;
  }

  .feature-content h2 {
    font-size: 1.5rem;
  }
  .feature-content h3 {
    font-size: 2.4rem;
  }
  .feature-content p {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 802px) {
  .feature-icon-container {
    font-size: 200px;
  }

  .feature-content h2 {
    font-size: 1.2rem;
  }
  .feature-content h3 {
    font-size: 2rem;
  }
  .feature-content p {
    font-size: 1rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 656px) {
  .feature-container {
    grid-template-columns: 1fr;
  }
  .feature-icon-container {
    font-size: 200px;
    width: 100%;
  }

  .feature-content h2 {
    font-size: 1.5rem;
  }
  .feature-content h3 {
    font-size: 2.3rem;
  }
  .feature-content p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
/*---FOOOTER----*/

.footer-container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footerlogo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  background-color: #6a9113;
  background-image: linear-gradient(to top, #6a9113 0%, #cacebf 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}
.footer-links {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
}
.footer-wrapper {
  display: flex;
}
.footer-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 160px;
  margin: 10px;
  box-sizing: border-box;
}
.footer-items h1 {
  margin-bottom: 15px;
}
.footer-items a {
  text-decoration: none;
  margin: 10px;
  color: #6a9113;
  transition: all 0.5s ease;
}
.footer-items a:hover {
  color: #bccc9a;
  transition: all 0.5s ease-out;
}
.social-media-links {
  color: #243109;
  font-size: 24px;
}
.social-media {
  max-width: 1000px;
  width: 100%;
}
.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}
.social-media-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.social-media-icons i {
  transition: all 0.5s ease-in-out;
}
.social-media-icons i:hover {
  color: #b4f527;
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
}

.web-right {
  color: #636363;
}
@media screen and (max-width: 900px) {
  .footer-links {
    padding-top: 2rem;
  }
  #footerlogo {
    margin-bottom: 2rem;
  }
  .web-right {
    margin-bottom: 2rem;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .social-media-wrap {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .footer-items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}
